img#center-img {
  display: block;
  margin: auto;
  height: 7.5rem;
  width: 7.5rem;
  object-fit: contain;
  margin-top: 5%;
  border: none;
  padding-top: 10px;
}

.writing {
  text-align: center;
  font-style: italic;
  font-size: 1em;
  color: red;
  font-weight: bold;
}

.ul {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  list-style-type: none;
  padding-top: 3em;
  text-align: left;
}

.version {
  color: white;
  float: right;
  padding-right: 20px;
}

li:not(:last-child) {
  margin-bottom: 1em;
}

.container-info {
  display: inline-block;
  position: relative;
  width: 20%;
  min-height: 45vw;
  background-color: darkgreen;
}
@media only screen and (min-width: 350px) and (max-width: 1500px) {
  .container-info {
    float: top;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 28vw;
  }
}

.responiveCSS {
    width: 35em;
    font-size: 4em;
    color: red;
    font-style: italic;
    margin-top: 4em;
}

@media only screen and (min-width: 350px) and (max-width: 1500px)  {
    .responiveCSS {
        font-size: 4.5em !important;
        width: 15em;

      }
}

.container-main {
  display: inline-block;
  position: relative;
  width: 10vw;
  min-height: 45vw;
}
@media only screen and (min-width: 350px) {
  .container-main {
    float: right;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 70vw;
  }
  .responiveCSS {
    font-size: 1.5em !important;
  }
}

.tableDisplay {
  width: 30px;
  color: black;
  font-size: 20px;
  text-align: left;
  margin-left: 2em !important;
  margin-top: 1em;
}
.menu:hover {
  cursor: pointer !important;
}

:host ::ng-deep .row-accessories {
  background-color: rgba(0, 0, 0, 0.15) !important;
}

img#bgImage {
  transform: rotate(270deg);
  /* All browsers support */
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  position: fixed;
  margin-right: 0 !important;
  margin-left: 45%;
  height: 17em;
  width: 43em;
}

@media only screen and (min-width: 350px) and (max-width: 1500px) {
    img#bgImage {
        transform: rotate(270deg);
        /* All browsers support */
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        position: fixed;
        margin-right: 0 !important;
        margin-left: 30%;
        height: 12em;
        width: 25em;

    }
}

tr:nth-child(odd) {
    background-color: white !important;
    width: 5em;
}
