.container-info {
  display: inline-block;
  position: relative;
  width: 20%;
  height: 45vw;
  background-color: darkgreen;
}

.displayOrNot {
  display: none;
}

@media only screen and (max-width: 800px) {
  .displayOrNot {
    display: inline;
  }
  .container-info {
    float: top;
    position: fixed;
    left: 0;
    top: 0;
    height: 25vw;
    width: 100vw;
  }
}
.responiveCSS {
  font-size: 3em;
  color: red;
  font-style: italic;
  /* margin-left: 2em; */
  padding-left: 3em;
}

.heading {
  margin-left: 3vw;
  font-size: 2em !important;
  /* padding-bottom: 2em; */
  /* text-shadow: 10px; */
}

@media only screen and (min-width: 450px) and (max-width: 2000px) {
  .notDisplay:hover {
    cursor: pointer;
  }

  .ul {
    display: none;
  }
  /* .version {
    margin-bottom: 0 !important;
    margin-top: -13vw;
    margin-right: 1em;
  } */
  /* .writing {
    
    margin-right: 10px;
    font-size: 3.5em;
    margin-top: -3em;
  } */
 
}

.container-main {
  display: inline-block;
  position: relative;
  width: 10vw;
  min-height: 45vw;
}
@media only screen and (min-width: 350px) {
  .container-main {
    float: right;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 70vw;
  }
}

.tableDisplay {
  width: 30px;
  color: black;
  font-size: 20px;
  text-align: left;
  margin-left: 2em !important;
  margin-top: 1em;
}
.menu:hover {
  cursor: pointer !important;
}

.changeRowColor {
  background-color: pink !important;
}

img#bgImage {
  transform: rotate(270deg);
  /* All browsers support */
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  position: fixed;
  margin-right: 0 !important;
  margin-left: 45%;
  height: 17em;
  width: 43em;
}

@media only screen and (max-width: 800px) {
  img#bgImage {
    transform: rotate(270deg);
    /* All browsers support */
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    position: fixed;
    margin-right: 0 !important;
    margin-left: 30%;
    height: 12em;
    width: 25em;
  }
}

/* tr:nth-child() {
  width: 5em;
} */

.doNotDisplay {
  display: none;
}

/*NEW CSS */
.parent-class {
  box-sizing: border-box;
  display: block;
  height: 100vh;
}

.top-class {
  /* height: 100vh;
  width: 13vw;
  text-align: center;
  background-color: darkgreen;
  display: inline-block;
  position: relative; */
  height: 100vh;
  float: left;
  width: 20%;
  text-align: center;
  background-color: darkgreen;
}

.right-class {
  /* float: right !important;
  position: relative;
  width: 34vw !important; */
  width: 30%;
  float: right;
}

img#pine {
  width: 80%;
  float: right;
}

img#center-img {
  height: 25%;
  width: 45%;
  margin-top: 10%;
  margin-left: 5%;
}

.writing {
  text-align: center;
  font-style: italic;
  font-size: 2em;
  color: red;
  font-weight: bold;
  display: grid;
}

.version {
  color: white;
  float: right;
  padding-right: 20px;
  position: relative;
  font-size: 15px !important;
  text-align: right;
}

.data-class {
  color: white;
  list-style-type: none;
  padding-top: 3em;
  text-align: center;
  font-size: 1.5em;
}

.icon {
  font-size: 1em;
  cursor: pointer !important;
}

.icon:hover {
  font-style: italic;
  color: yellow;
}

.middle-class {
  /* height: 15vh;
  width: 50vw !important;
  display: inline-block;
  position: relative;
  width: 15em;
  float: top; */
  float: left;
  width: 50%;
  margin-top: 4em;
}
 

@media only screen and (max-width: 800px) {
  .top-class {
    height: 20vh;
    width: 97vw;
    background-color: darkgreen;
  }

  .doNotDisplay {
    display: inline-grid !important;
    font-size: 2em;
    color: white;
    float: left;
    margin-left: 15px;
    line-height: 4em;
    cursor: pointer;
  }

  .writing {
    float: right;
    margin-right: 15px;
  }

  .data-class {
    display: none;
  }

  .icon {
    display: none;
  }
  img#pine {
    display: none;
  }
  .right-class {
    display: none;
  }
  .changeRowColor {
    background-color: white !important;
  }
  .responiveCSS {
    font-size: 1.5em !important;
    font-weight: bold;
  }
  .middle-class {
    margin-top: 0;
    width: 100%;
  }
  .tableDisplay {
    margin-top: 1.5em;
    height: 29em;
    overflow-y: auto;
  }

  img#center-img {
    display: none;
  }
  img#bgImage {
    display: none;
  }

  :host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  :host
    ::ng-deep
    .p-datatable.p-datatable-gridlines
    .p-datatable-tbody
    > tr
    > td {
    text-overflow: ellipsis !important;
  }

  .tableContainer {
    padding-left: 0em !important;
  }
}

.tableContainer {
  padding-left: 5em;
}

:host
    ::ng-deep
    .p-datatable.p-datatable-gridlines
    .p-datatable-tbody{
      width: 100%;
    }

:host
  ::ng-deep
  div.p-datatable-gridlines.p-datatable.p-component
  .p-datatable-hoverable-rows
  .p-datatable-resizable
  .p-datatable-resizable-fit
  .p-datatable-scrollable {
  overflow-y: auto !important;
}
